<!--<div data-login-dialog>Calling login  template</div>-->

<form role="form">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter name" ng-model="user.username">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter name" ng-model="user.password">
    </div>
    <button class="btn btn-default" ng-click="login(user)">Login</button>
</form>
